﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Master/Welcome/MessagesMaster.master" AutoEventWireup="true" CodeFile="Favorites.aspx.cs" Inherits="Master_Welcome_Default" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div class="container">
        <div class="col-lg-12">
            <div class="well">
                <div class="modal-dialog">
                    Favorites
                </div>
            </div>
         </div>
    </div>
</asp:Content>

