﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Master/Welcome/LoggedIn.master" AutoEventWireup="true" CodeFile="Home.aspx.cs" Inherits="Master_Welcome_Default" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContentPlaceHolder" Runat="Server">

</asp:Content>

